* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* background-color: #0040ca; */
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.navBg {
  background-color: #2a3289;
}

.textColor {
  color: #2a3289;
}

.test {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9) 0%,
    #5f639177 100%
  );
}
